<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="static/main.css">
	<title>
		All About Pet Love
	</title>
</head>

<body>
	<nav class="navbar background">
		<ul class="nav-list">
			<div class="logo">
				<img src="static/photo/product_photos/logo.png">
			</div>
			<li><a href="/employee_login">Employee</a></li>
			<li><a href="/manager_login">Manager</a></li>
			<li><a href="/supplier_login">Supplier</a></li>
		</ul>

		<div class="rightNav">
			<a href="/customer_sign_up"><button class="btn btn-sm">Customer Sign Up</button></a>
		</div>

		<div class="rightNav">
			<a href="/store"><button class="btn btn-sm">Find a store</button></a>
		</div>
	</nav>
	<section class="firstsection">
	<div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/EveryYay Grey Lounger Memory Foam Dog Bed.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="web">
					Foam Dog Bed
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/Blue Buffalo Blue Basics Adult Salmon & Potato Recipe Dry Dog Food.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Salmon & Potato Recipe Dry Dog Food
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/Seresto Bayer Flea and Tick Collar for Large Dogs.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Seresto Bayer Flea and Tick Collar
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/So Phresh Advanced Odor Control Scoopable Fragrance Free Cat Litter.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Cat Litter
				</h1>
			</div>
		</div>
	</section>
	
	<section class="secondsection">
		<div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/Reddy PrimaLoft Lightweight Insulation Burgundy Dog Puffer Jacket.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="web">
					Dog Puffer Jacket
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/Canada Pooch Alaskan Army Dog Parka Salt & Pepper Size 8.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Parka Salt & Pepper Size 8 
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/Skouts Honor Urine Destroyer for Dogs.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Skouts Urine Destroyer for Dogs
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/YOULY St. Patricks Day Plush Rope Beer Dog Toy.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Beer Dog Toy
				</h1>
			</div>
		</div>
	</section>
	 
	<section class="thirdsection">
		<div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/insurance1.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="web">
					Emergency Care Insurance
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/insurance2.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Diagnostic Treatment Insurance
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/insurance3.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Vaccinations Insurance
				</h1>
			</div>
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/product_photos/pet_diet.png" width="300",height="175",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Pet food & Special diet Insurance
				</h1>
			</div>
		</div>
	</section>

	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>


	</footer>
</body>

</html>
