<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Manager Login Portal</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="static/manager.css">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./manager.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>MANAGER SELF-SERVICE</h1>
		<p>
			Managers can use this page to log in to 
			the self-service (manager) portals for queying emloyee information, store information, pay records and editing supply list.
		</p>
		
		</div>
	</div>
	
	
		<div class="right">
		<h5>Login</h5>
		<p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
		<div class="inputs">

			<form action="/manager_login_test" method="POST">
				<p><input type="text" name="name" placeholder="type your name" id="search"> 
					<br>
					<input type="text" name="ssn" placeholder="type your ssn" id="search"> 
					<br>
					<br>
					<br>
					<button class="btn btn-sm">Login</button>
				</p>	
			</form>
			
			
		</div>
			
			
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
