<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="static/employee_login_after.css">
	<title>
		Manager Self-Service portal
	</title>
</head>

<body>
	<nav class="navbar background">
		<ul class="nav-list">
			<div class="logo">
				<img src="static/photo/employee/logo.png">
			</div>
			<li><a href="/employee_login">Employee</a></li>
			<li><a href="/manager">Manager</a></li>
			<li><a href="/supplier_login">Supplier</a></li>
		</ul>

		<div class="rightNav">
			<a href="/"><button class="btn btn-sm">Home</button></a>
			<a href="/store"><button class="btn btn-sm">Find a store</button></a>
		</div>
	</nav>
	<section class="firstsection">
	<div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/manager/manager.jpeg" width="600",alt="Picture with a quote">
				</p>
			</div>

            <div class="photo">
				<h1 class="text-big" id="program">
                    <li>Employee management</li>
                    <div class="rightNav">
                        <form action="/employee_searching" method="POST">
							<p><input type="text" name="ssn" placeholder="type employee ssn" id="search"> 
								<button class="btn btn-sm">Employee searching</button>
							</p>	
						</form>
                    </div>
                    <p>
                        Employee management is the effort to help employees do their best work each day 
                        in order to achieve the larger goals of the organization.
                    </p>
				</h1>
			</div>
		</div>
	</section>
	
	<section class="secondsection">
		<div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/employee/payment.png" width="600",alt="Picture with a quote">
				</p>
			</div>

            <div class="photo">
				<h1 class="text-big" id="program">
                    <li>Payment information</li>
					<div class="rightNav">
						<form action="/payment_searching" method="POST">
							<p><input type="text" name="id" placeholder="type payment id" id="search"> 
								<button class="btn btn-sm">Payment info searching</button>
							</p>	
						</form>
                    </div>
                    <p>
                        Payment records at every stage, right from quotation sharing to reporting, 
                        makes it easier to track and manage finances. 
                    </p>
				</h1>
        </div>
        </section>

		<section class="secondsection">
			<div class="box-main">
				<div class="photo">
					<p class="text-small">
						<img src="/static/photo/manager/supplier.png" width="600",alt="Picture with a quote">
					</p>
				</div>
	
				<div class="photo">
					<h1 class="text-big" id="program">
						<li>Supplier information</li>
						<div class="rightNav">
							<form action="/supplier_searching" method="POST">
								<p><input type="text" name="id" placeholder="type supplier id" id="search"> 
									<button class="btn btn-sm">Supplier searching</button>
								</p>	
							</form>
						</div>
						<p>
							Supplier records at every stage, right from quotation sharing to reporting, 
							makes it easier to track and manage finances. 
						</p>
					</h1>
			</div>
			</section>

	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>


	</footer>
</body>

</html>
