<!DOCTYPE html>

<html>

<head>
	<link rel="stylesheet" href="static/store.css">
	<title>
		Store information
	</title>
</head>
<body>
	<nav class="navbar background">
		<ul class="nav-list">
			<div class="logo">
				<img src="static/photo/product_photos/logo.png">
                <h1>Welcome to Petco, New York!</h1>
			</div>

		</ul>

		<div class="rightNav">

			<form action="/shop_information" method="POST">
				<p><input type="text" name="name" placeholder="type your address" id="search"> 
					<button class="btn btn-sm">Shop searching</button>
				</p>	
			</form>

			<a href="/"><button class="btn btn-sm">Home</button></a>
		</div>
			
	</nav>
	<section class="firstsection">
	<div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store1.png" width="300",height="150",alt="Picture with a quote">
				</p>
			<h1 class="text-big" id="program">
					Petco Union Square
                    <ul>
                        <li>860 Broadway
                            New York, NY 10003</li>
                        <li>Contact info: (212) 358-0692</li>
                    </ul>
				</h1>
			</div>

			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store2.png" width="300",height="150",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Petco Sunset Park
                    <ul>
                        <li>241 37th Street
                            Brooklyn, NY 11232</li>
                        <li>Contact info: (718) 666-4019</li>
                    </ul>
				</h1>
			</div>

			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store3.jpg" width="300",height="150",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Petco Turtle Bay
                    <ul>
                        <li>991 Second Avenue
                            New York, NY 10022</li>
                        <li>Contact info: (212) 593-7213</li>
                    </ul>
				</h1>
		</div>
	</section>
	
	<section class="secondsection">
        <div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store4.png" width="300",height="150",alt="Picture with a quote">
				</p>
			<h1 class="text-big" id="program">
                Petco Upper East Side
                    <ul>
                        <li>1280 Lexington Ave
                            New York, NY 10028</li>
                        <li>Contact info: (212) 369-7903</li>
                    </ul>
				</h1>
			</div>

			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store5.jpeg" width="300",height="150",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Petco Upper West Side
                    <ul>
                        <li>22475 Broadway
                            New York, NY 10025</li>
                        <li>Contact info: (212) 877-1270</li>
                    </ul>
				</h1>
			</div>

			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store6.jpeg" width="300",height="150",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Petco Old Mill Basin
                    <ul>
                        <li>2343 Utica Ave
                            Brooklyn, NY 11234</li>
                        <li>Contact info: (718) 338-3896</li>
                    </ul>
				</h1>
		</div>

	</section>
	 
	<section class="thirdsection">
        <div class="box-main">
			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store7.jpg" width="300",height="150",alt="Picture with a quote">
				</p>
			<h1 class="text-big" id="program">
                Petco Forest Hills
                    <ul>
                        <li>9111 Metropolitan Ave
                            Rego Park, NY 11374</li>
                        <li>Contact info: (718) 830-6261</li>
                    </ul>
				</h1>
			</div>

			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store8.jpeg" width="300",height="150",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Petco Rego Park
                    <ul>
                        <li>6135 Junction Blvd
                            Rego Park,NY 11374</li>
                        <li>Contact info: (718) 289-1000</li>
                    </ul>
				</h1>
			</div>

			<div class="photo">
				<p class="text-small">
                    <img src="static/photo/store/store9.jpeg" width="300",height="150",alt="Picture with a quote">
				</p>
				<h1 class="text-big" id="program">
					Petco Brooklyn
                    <ul>
                        <li>528 Gateway Drive Unit 4
                            Brooklyn, NY 11239</li>
                        <li>Contact info: (718) 647-2604</li>
                    </ul>
				</h1>
		</div>
	</section>

	<footer class="background">
		<p class="text-footer">
			Copyright ©-All rights are reserved
		</p>


	</footer>
</body>

</html>
